<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>
            Camera API
        </title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>

    <body>

        <button id="pick-image">Pick image</button>
        <div id="image-presenter"></div>


        <form action="{% url take_photo %}" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>

        <script>

        $(document).ready(function() {
            $('#_testButton').bind('click', function () {
                var file = document.getElementById('_testFile').files[0]
                var reader = new FileReader();
                reader.onload = function () {
                    $.ajax({
                        url: '{% url take_photo %}',
                        type: 'POST',
                        data: reader.result
                    })
                }
                reader.readAsBinaryString(file)
            })
        });

        // WebActivities
        var pickImage = document.querySelector("#pick-image");
        if (pickImage) {
            pickImage.onclick = function () {
                 var pick = new MozActivity({
                     name: "pick",
                     data: {
                         type: ["image/png", "image/jpg", "image/jpeg"]
 }
                 });

                pick.onsuccess = function () { 
                    var img = document.createElement("img");
                    img.src = window.URL.createObjectURL(this.result.blob);
                    var imagePresenter = document.querySelector("#image-presenter");
                    imagePresenter.appendChild(img);
                    imagePresenter.style.display = "block";



                };

                pick.onerror = function () { 
                    alert("Can't view the image!");
                };
            }
        }

        </script>

    </body>

</html>