{% extends "base.html" %}

{% block header %}
    <h3>Nova Partida</h3>
{% endblock %}

{% block data-url %}{% url partida_create %}{% endblock %}

{% block content %}
    <form method="POST">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <label for="textinput2">
                </label>
                <input name="partida" id="textinput2" placeholder="Nome da Partida" value="" type="text" />
            </fieldset>
        </div>
        <div id="checkboxes1" data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="vertical">
                <legend>
                    Jogadores
                </legend>
                {% for jogador in jogadores %}
                <input id="{{ jogador.id }}" name="jogadores" value="{{ jogador.id }}" type="checkbox" />
                <label for="{{ jogador.id }}">
                    {{ jogador.get_full_name }}
                </label>
                {% endfor %}
            </fieldset>
        </div>
        <input type="submit" data-theme="b" value="Iniciar Partida!" />
    </form>
{% endblock %}
