{% extends "base.html" %}
{% block content %}
<!-- Home -->
<h1>Pega-pega <small>by Dimitrificators</small></h1>
<h3>Sua desculpa <em>high-tech</em> para se divertir como criança</h3>

<div data-role="collapsible-set" data-expanded-icon="arrow-d" data-collapsed-icon="arrow-r">
    <div data-role="collapsible" data-collapsed="false">
    <h3>Pega-pega? Sério?</h3>
    <p>Sim! Jogos de celulares tradicionais promovem o sedentarismo e o isolamento social. Pega-pega chegou para mudar isso.</p>
    <p>Se você acha que treinamento militar e táticas de emboscada são coisas que não combinam com o cotidiano da vida adulta, volte para seu Marble Madness ou seu Temple Run, pois aqui a parada é séria. É tensa.</p>
    </div>

    <div data-role="collapsible">
    <h3>1 Instale!</h3>
    <p>Este jogo foi desenvolvido em HTML5 durante a Campus Party 6 em São Paulo e utiliza WebAPIs sendo implementadas pelo FirefoxOS. Para instalar em um aparelho compatível clique no botão abaixo.</p>
    <a href="#" onclick="navigator.mozApps.install('{{ domain_url }}{{  STATIC_URL  }}manifest.webapp'); return false;" data-role="button">Instalar</a>
    </div>

    <div data-role="collapsible">
    <h3>2 Chame os amigos!</h3>
    <p>
        Convide seus amigos para jogar com você, afinal pega-pega sozinho não faz sentido.
    <a href="#" id="share" data-role="button">Compartilhar esta página</a>
    </p>
    </div>

    <div data-role="collapsible">
    <h3>3 Jogue!</h3>
    <p>
        O objetivo é fotografar <strong>todos</strong> os participantes (pegá-los), um por vez, sem deixar ser fotografado.
        Se você for o último que sobrar, comemore.
        <img src="{{  STATIC_URL  }}img/dimitri.png" style="width:100%;" />
        <a href="{% url partida_list %}" rel="external" data-transition="slide" data-role="button" data-theme='b'>
            Login com Facebook
        </a>
    </p>
    </div>
</div>
<script>
var share = document.querySelector("#share");
if (share) {
    share.onclick = function () {
        var sharing = new MozActivity({
            name: "share",
            data: {
                //type: "url", // Possibly text/html in future versions,
                number: 1,
                url: window.location.href
            }
        });
    }
}
</script>
{% endblock %}
